
<div class="main" fxFlex="100" fxFlex.xs="100" style="background: #F7F7F7;"> 
    <div class="container">
        <table class="datatable">
            <thead>
                <tr>
                  <th>Id</th>
                  <th>FirstName</th>
                  <th>LastName</th>
                  <th>Email</th>
                  <th>Actions</th>
                 
                </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let emp of employee">
                      <td>{{emp.id}}</td>
                      <td>{{emp.fname}}</td>
                      <td>{{emp.lname}}</td>
                      <td>{{emp.email}}</td>
                      <td>
                        <div fxLayout="row" fxLayoutAlign="space-evenly" >
                            <mat-icon aria-label="Edit"   (click)="updateEmployee(emp.id)">edit</mat-icon>
                      <mat-icon aria-label="Delete" (click)="deleteEmployee(emp.id)">delete</mat-icon>
                      </div>
                    </td>
                    </tr>
                  </tbody>
                </table>
    </div> 
</div>





