table.datatable {
	width:100%;
	border: none;
	background:#fff;
}
.er{
	width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
table.datatable td.table_foot {
	border: none;
	background: #fff;
	text-align: center;
}
table.datatable tr.odd_col {
	background: none;
}
table.datatable tr.even_col {
	background: #ddd;
}
table.datatable td {
	font-size:10pt;
	padding:5px 10px;
	text-align: center;
}
table.datatable th {
	font-size: 8pt;
	padding: 10px 10px 7px;   
	text-transform: uppercase;
	color: #fff;
	background-color: black;
	font-family: sans-serif;
	text-align: center;
}
.main{
	padding: 0% 4% 0% 4%;
	display: flex;
    flex-direction: column;
    max-width: 100%;
}
.button{
	background-color: #008CFF;
    color:#F7F7F7;
}
.container{
	overflow-x: auto; //x scrollbar auto
}