
<!-- <h1>Interpolation</h1>
<h1>{{title}}</h1>
<img src={{imgUrl}} alt="" />
<button disabled={{status}}>Click</button>


<h1>Property Binding</h1>
<img [src]="imgUrl" alt="" />
<button [disabled]="status">Click</button>

<h1>Event Binding</h1>
<button (click)="method1($event)">Call</button>

<h1>Two way data binding</h1>
<input type="text" [(ngModel)]="username">
<h3>User === {{username}}</h3> -->

<!-- 
<h1>Class Binding</h1>
<div class="text-success">Hello</div>
<div [class.text-success]="status">Hello Raj</div>
<div [ngClass]="textClass">Welcome</div>


<h1>Style Binding</h1>
<div style="color: crimson">Hello</div>
<div [style.color]="style">Hello Raj</div>
<div [style.color]="status?style:'red'">Hello Raj</div>

<div [ngStyle]="textStyle">Welcome</div>

 -->

 <h1> Hello {{titleMessage}}</h1>
 <p routerLink="/bind">bind</p>
