img{
    width:10%;
}

.text-success{
    font-size: 20px;
    color: red;
}

.text-success1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.text-success2{
    font-style: italic;
}