
<div class="main">
    <div>
            <h2>Register</h2>
    </div>
    <form class="formDiv" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            &nbsp;
            <mat-form-field class="formWidth">
                    <mat-label>FirstName</mat-label>
                    <input matInput placeholder="Enter FirstName"  formControlName="fname">
                    <mat-error *ngIf="registerForm.get('fname').invalid &&
                    registerForm.get('fname').untouched ">fname invalid</mat-error>
             </mat-form-field>
            
             <mat-form-field class="formWidth">
                    <mat-label>LastName</mat-label>
                    <input matInput placeholder="Enter LastName"  formControlName="lname">
             </mat-form-field>
            
             <mat-form-field class="formWidth">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter Email"  formControlName="email">
             </mat-form-field>

             <button  mat-raised-button color="primary" type="submit">Save</button>
             <!-- [disabled]="!registerForm.valid" -->

            </form>
</div>